// Primary
$red: hsl(4, 100%, 67%);

// Neutral
$blue800: hsl(234, 29%, 20%);
$blue700: hsl(235, 18%, 26%);
$grey: hsl(0, 0%,58%);
$white: hsl(0, 0%, 100%);

$red_gradient: linear-gradient(90deg, rgba(180, 58, 97, 1) 0%, rgba(253, 29, 134, 1) 0%, rgba(255, 174, 61, 1) 100%);